body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.box {
    width: 300px;
    background-color: lightblue;
    border: 15px solid blue;
    padding: 50px;
    margin: 20px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
